* text=auto !eol
AutoTypeSearch/Actions.cs -text
AutoTypeSearch/AutoTypeSearch.csproj -text
AutoTypeSearch/AutoTypeSearch.sln -text
AutoTypeSearch/AutoTypeSearchExt.cs -text
AutoTypeSearch/HotKeyManager.cs -text
AutoTypeSearch/Info.png -text
AutoTypeSearch/NativeMethods.cs -text
AutoTypeSearch/Options.Designer.cs -text
AutoTypeSearch/Options.cs -text
AutoTypeSearch/Options.resx -text
AutoTypeSearch/Properties/AssemblyInfo.cs -text
AutoTypeSearch/Properties/Resources.Designer.cs -text
AutoTypeSearch/Properties/Resources.resx -text
AutoTypeSearch/Properties/Settings.Designer.cs -text
AutoTypeSearch/Properties/Settings.settings -text
AutoTypeSearch/SearchResult.cs -text
AutoTypeSearch/SearchResults.cs -text
AutoTypeSearch/SearchWindow.Designer.cs -text
AutoTypeSearch/SearchWindow.cs -text
AutoTypeSearch/SearchWindow.resx -text
AutoTypeSearch/Searcher.cs -text
AutoTypeSearch/Throbber.gif -text
AutoTypeSearch/app.config -text
/CreatePlgX.bat -text
/PlgXExclude.txt -text
/Readme.txt -text
Releases/PackageRelease.bat -text
/SendIPC.lnk -text
